@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "colorVariables.scss";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "container-grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

.brand-text-icon {
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: $primary;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
header{
    border-bottom: 1px solid $gray-200;
    width: 100%;
    position: relative;
    text-decoration: none;
    .navbar{
        height: 80px;
        ul.navbar-nav{
            li.nav-item{
                &.active{
                    a.nav-link{
                        font-family: "Poppins", sans-serif;
                        font-size: 18px;
                        color: $primary;

                    }
                }
                a{
                    font-family: "Poppins", sans-serif;
                    font-size: 18px;
                    &.nav-link{
                        letter-spacing: 1px;
                        color: $gray-900;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
section {
  margin-bottom: 70px;
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-contain {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.card {
       border: none;
  &.bordered {
    border: 1px solid $gray-200;
    //    border: none;
  }
  border-radius: 15px;

  .tag {
    z-index: 3;
    font-size: 0.875rem;
    background-color: #ffc400;
    padding: 0.25rem 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    color:white;
    min-height: 30px;
    border-radius: 0 0 0 15px;
    font-weight: 400;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    span {
     font-weight: 400;
    }
  }

  .img-wrapper {
    height: 100%;
    margin-bottom: 0;
    border-radius: 0.9375rem;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
  }

  .meta-wrapper {
    margin-top: 1rem;
    h5 {
     font-size: 1.3rem;
      font-family: "Poppins";
      margin-bottom: 2px;
      margin-left: 0px;
    }
    span {
       
        font-family: "Poppins";
      font-size: 0.975rem;
      margin-left: 8px;
    }
  }

  &.card-featured {
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.5s transform ease-in-out;
      z-index: 2;
      @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
    }

    .img-wrapper {
      z-index: 1;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.1);
      transition: 0.25s transform ease-in-out;
    }

    .meta-wrapper {
      z-index: 4;
      color: $white;
      padding: 20px;
      position: absolute;
      top: 0;
      border-radius: 20px 20px 0px 20px;
      bottom: 0;
      width: 100%;
      transform: translateY(0);
      transition: 0.3s transform ease-in-out;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
    .btn{
        color: white;
        background: none;  
        border: none;
        outline: none;
        text-align: left;
        margin: 0px;
}

    &:hover {
      .meta-wrapper {
        transform: translateY(-10px);
      }
      &:after {
        transform: scale(1);
      }
      .img-wrapper {
        transform: scale(1);
      }
    }
  }
}
.testimonial-hero,
.testimonial-hero img {
  width: 365px;
  height: 500px;
  border-radius: 40px 15px 40px 15px;

}
.btn-read{
    width: 196px;
    height: 63px;
    background: #3252DF;
    border-radius: 6px;}

  .brand-tagline{
    margin-top: 8px;
    color: #010d46;
    font-weight: 400px;
    font-family: "Poppins";
    font-size: 22px;
  }
  .btn-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #2D3557;
    text-decoration: none;  
  }
  .list-group{list-style-type: none;}  
  #copyrights{
     margin: 50px 0;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    color: $gray-900;

  }
